html, body, * {
    margin: 0px;
    background-color: #0d031b;
    color: #e9e8ff;
    font-family: georgia;
}

.title {
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'Rubik';
    margin: 16px;
}

.title>:nth-child(2n) {
    color: #9988ff;
}

.menu{
    display: flex;
    justify-content:space-around;
}

.menu *{
    color: #d8d5ff;
    height: 32px;
    width: 32px;
}

.post {
    padding: 32px;
    width: 100%;
    max-width: 600px;
}

.text {
    white-space: pre-wrap;
    margin: auto;
    line-height: 1.6;
}

.body {
    display: flex;
    justify-content:space-between;
}

.sidemenu {
    width: 100%;
    text-align: center;
    background-color: #443377;
}

@media (max-width: 900px) {
    .body {
        flex-direction: column;
    }
}